body {
    background-image: url(https://rare-gallery.com/thumbs/356101-4k-wallpaper.jpg);
}
#links {
    background-color: rgb(99, 99, 99);
}
h1 {
    background-color: rgb(99, 99, 99);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2 {
    color:yellow;
    
}

#lista-hab {
    background-color: rgb(99, 99, 99);
}
#competencias {
    background-color: rgb(99, 99, 99);
}
#sobre-mim {
    background-color: rgb(99, 99, 99);
}